
name: Hassfest

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read

jobs:
  hassfest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: home-assistant/actions/hassfest@v1
